
# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Byte-compiled / optimized / DLL files
*.so
*.dll

# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store

# Docker / Build
*.log
dist/
build/
